<div ng-controller="NavbarController as vm" layout="column">
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>
          <a href="/">Trackit - Delivery Tracker</a>
        </h3>
        <span flex></span>
        {% if user.is_authenticated %}
        <md-button class="md-button" aria-label="Profile" ng-href="/{{ user.username }}">
          {{ user.username }}
        </md-button>
        <md-button class="md-button" aria-label="Setting" ng-href="/{{ user.username }}/settings">
          Settings
        </md-button>
        <md-button class="md-button" aria-label="Logout" ng-click="vm.logout()">
          Logout
        </md-button>
        {% else %}
        <md-button class="md-button" aria-label="Login" ng-href="/login">
          Login
        </md-button>
        <md-button class="md-button" aria-label="Register" ng-href="/register">
          Register
        </md-button>      
        {% endif %}
      </div>
    </md-toolbar>
</div>