[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#main {
  padding: 4px;
}

#nav-title {
  font-size: 1.5em;
}

md-content.index {
  padding-top: 80px;
  color: rgb(14, 40, 147);
}

md-toolbar.md-toolbar-navbar{
  position: fixed;
  background-color: rgba(14, 40, 147, 1);
  color: rgba(255, 255, 255, 0.87);
}

#tool-btn-add {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(109, 135, 195, 0.5);
}

#tool-btn-add:hover {
  background-color:rgb(14, 40, 147);
  box-shadow: 0 16px 34px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 1em;
  text-align: center;
}

.ngdialog-content{
  -webkit-transform: translate3d(0,0,0);   
  width: 1000px !important;
  height :auto !important;
}

table td {
  border-top: none !important;
}

.header {
  font-size: 5em;
  color: rgb(53, 75, 164);
  margin-top:0px;
  margin-bottom: 20px;
  text-align: center;
}

.tool-btn {
    margin: 6px 1px;
}

/*STREAM LIST*/
#stream-list {
  padding: 0px;
}

#stream-list #streamname {
  color: rgba(54, 76, 165, 1);
  font-size: 2em;
  padding: 10px;
  text-align: center;
  font-weight: 300px;
}

#stream-list #meta-data{
  font-size: 0.8em;
  color: rgba(54, 76, 165, 1);
}

#stream-list #jira-btn{
  background-color: rgba(54, 76, 165, 1);
  text-transform: capitalize;   
  border-radius: 30px 5px 30px 5px;
  font-weight: 200;
}

#stream-list #tool-btn-update {
  background-color: rgba(109, 135, 195, 0.9);
}

#stream-list #tool-btn-destroy {
  background-color: rgba(230, 52, 11, 0.9);
}
/*STREAM LIST : HOVER*/
#stream-list:hover #streamname{
  color: rgb(155, 166, 210);
}

#stream-list:hover #meta-data{
  color: rgb(155, 166, 210);
}

#stream-list:hover #jira-btn{
  background-color: rgb(155, 166, 210);
}

#stream-list:hover #tool-btn-update {
  background-color: rgba(109, 135, 195, 0.5);
}

#stream-list:hover #tool-btn-destroy {
  background-color: rgba(230, 52, 11, 0.5);
}
/*END STREAM LIST*/


/*STREAM DIV : HOVER*/
#stream-div:hover #streamname{ 
  color: rgba(54, 76, 165, 1);
}

#stream-div:hover #stream-divider {
  background-color: rgba(54, 76, 165, 1);
}

#stream-div:hover #meta-data { 
  color: rgba(54, 76, 165, 1);
  font-weight: 200;
}

#stream-div:hover #jira-btn { 
  background-color: rgba(54, 76, 165, 1);
}

#stream-div:hover #tool-btn-update {
  background-color:rgba(109, 135, 195, 0.9);
}

#stream-div:hover #tool-btn-destroy {
  background-color:rgba(230, 52, 11, 0.9);
}

#stream-div:hover #streamname {
  font-weight: 300;
}/*END STREAM DIV : HOVER*/

/*BUTTON HOVER*/
#jira-btn:hover {
  box-shadow: 0 16px 34px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#jira-btn:hover #jira-id {
  font-weight: 400;
}

#tool-btn-destroy:hover {
  background-color:rgba(230, 52, 11, 1);
  box-shadow: 0 16px 34px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#tool-btn-update:hover {
  background-color:rgba(109, 135, 195, 1);
  box-shadow: 0 16px 34px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
/*END BUTTON : HOVER*/

/*ANIMATIONS*/
.ng-enter {
  -webkit-transition: 1s ease-in all;
  opacity:0;
}

.ng-enter-stagger {
  -webkit-transition-delay: 0.1s;

  transition-duration: 0s;
}

.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-leave {
  -webkit-transition: 0s linear all;
  opacity:1;
}

.ng-leave-stagger {
  transition-delay: 0.1s;

  transition-duration: 0.01s;
}

.ng-leave.ng-leave-active {
  opacity:0;
}
/*END ANIMATIONS*/
