[ng\:cloak], [ng-cloak], .ng-cloak {
display: none !important;
}
.no-deliveries-here {
text-align: center;
}
.delivery__meta {
text-align: center;
padding-bottom: 1px;
}
.btn-add-new-delivery {
position: fixed;
bottom: 40px;
right: 40px;
}
.ngdialog-content {
width :600px !important;
height :auto !important;
}
table td {
border-top: none !important;
}

.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}