<md-content class="md-padding">
	<h1 class="md-display-2" ng-show="vm.deliveries && vm.deliveries.length">Current Deliveries</h1>
	<p class="delivery__meta" ng-show="!vm.deliveries.length">No deliveries to show</p>
	<md-input-container flex ng-show="vm.deliveries && vm.deliveries.length">
		<label>Filter</label>
		<input ng-model="search">
	</md-input-container>
	<md-content>
		<md-chips ng-model="vm.streams" placeholder="Add a stream to view below">
		</md-chips>
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="stream in vm.streams" ng-animate="'animate'">
		        <div class="md-list-item-text">
					<div ng-repeat="delivery in vm.deliveries | filter:stream | filter:search | orderBy:'updated_at'"
						style="display: inline-block; padding: 25px;">
						<md-toolbar class="md-theme-dark shadow-z-3">
							<h2 class="md-toolbar-tools">
							<span>{{stream | uppercase}}</span>
							</h2>
						</md-toolbar>
						<delivery delivery="delivery" vm="vm" ng-show="vm.deliveries && vm.deliveries.length"></delivery>
					</div>
		        </div>
			</md-list-item>
	    </md-list>
	</md-content>
	<!-- Show Add button only when authenticated -->
	<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-delivery"
		href="javascript:void(0)"
		ng-click="vm.setDetails(None)"
		ng-show="vm.isAuthenticated"
		ng-dialog="/static/templates/deliveries/delivery-action.html"
		ng-dialog-controller="DeliveryController as vm">
		<md-tooltip>
		    Create Delivery
	    </md-tooltip>
	</a>
</md-content>
