<md-content class="index" ng-if="vm.deliveries.length">
	<!-- FILTER AND CHIPS -->
	<section layout="column" class="md-padding" flex>
		<div layout="column" flex>
			<label class="index">Stream tags</label>
			<md-chips ng-model="vm.streams" placeholder="Add a stream to view below">
			</md-chips>
<!--
########################################################################### 
FIX ME : Cannot filter when scrolled to the next page. Need to address this 
with some sort of manual filtering service.
###########################################################################
-->
			<md-input-container ng-show="vm.deliveries && vm.deliveries.length">
				<label>
					<md-icon md-svg-src="static/img/icons/search.svg"></md-icon>
					Search
				</label>
				<input ng-model="search">
			</md-input-container>
		</div>
	</section>
	<!-- End FILTER AND CHIPS -->
	<!-- Deliveries main content -->
	<div layout="column" layout-align="center center">
<!--<div layout="column" layout-align="center center" ng-init="start=0">
 		<div flex>
		    <md-button class="md-fab md-raised md-mini tool-btn" ng-click="start=start-4" ng-disabled="!start"> < </md-button>
		    <md-button class="md-fab md-raised md-mini tool-btn" ng-click="start=start+4" ng-disabled="start>vm.streams.length-5"> > </md-button>
		</div>	 -->
		<md-list layout="row" layout-fill flex id="stream-list" layout-wrap>
			<!-- Streams loop -->		
			<div id="stream-div" ng-repeat="stream in vm.streams | orderBy: stream | filter: stream | startFrom: start " ng-animate="'animate'" ng-hide="!filtered.length" flex="25">
				<h3 id="streamname">
					{{stream | uppercase}}
				</h3>
				<hr id="stream-divider"/>
		        <div layout="column">
		        	<!-- Deliveries loop -->
					<div ng-repeat="delivery in filtered = (vm.deliveries | filter:stream | filter:search | orderBy:'updated_at')"
						 flex>
						<delivery delivery="delivery" vm="vm" ng-show="vm.deliveries && vm.deliveries.length"></delivery>
					</div><!-- End Deliveries loop -->
		        </div>
			</div><!-- End Streams loop -->
			<span flex></span>
	    </md-list>
	</div>
</md-content>

<!-- Show Add button only when authenticated -->
<!--
########################################################################### 
FIX ME : Add a create entry ICON
###########################################################################
-->
<md-button class="md-button md-fab md-raised"
	id="tool-btn-add"
	href="javascript:void(0)"
	ng-click="vm.setDetails(None)"
	ng-show="vm.isAuthenticated"
	ng-dialog="/static/templates/deliveries/delivery-action.html"
	ng-dialog-controller="DeliveryController as vm">
	<md-tooltip>
	    Create Delivery
    </md-tooltip>
    <md-icon md-svg-src="static/img/icons/note_add.svg"></md-icon>
</md-button>
