<div ng-switch on="vm.flag">
	<form role="form" ng-submit="vm.create()" ng-switch-when="create" name="createForm">
		<div class="form-group">
			<h3 style="text-align: center;">Create Delivery</h3>
			<md-input-container flex>
			<label>Stream name</label>
			<input type="text" name="stream_name" ng-model="vm.stream_name"
			required>
			<div ng-messages="createForm.stream_name.$error">
	          <div ng-message="required">Stream name is required.</div>
	        </div>
			</md-input-container>

			<md-input-container flex>
			<label>Activity name</label>
			<input type="text" name="activity_name" ng-model="vm.activity_name"
			required>
			<div ng-messages="createForm.activity_name.$error">
	          <div ng-message="required">Activity name is required.</div>
	        </div>
			</md-input-container>

			<md-input-container flex>
			<label>View name</label>
			<input type="text" name="view_name" ng-model="vm.view_name"
			required>
			<div ng-messages="createForm.view_name.$error">
	          <div ng-message="required">View name is required.</div>
	        </div>
			</md-input-container>

			<md-input-container flex>
			<label>Codereview Link</label>
			<input type="url" ng-model="vm.codereview">
			</md-input-container>

			<md-input-container flex>
			<label>Jira Link</label>
			<input type="url" ng-model="vm.jira">
			</md-input-container>

			<md-input-container flex>
			<label>Description</label>
			<input ng-model="vm.description"
			columns="1">
			</md-input-container>

			<md-input-container flex>
			<label>Notes</label>
			<input ng-model="vm.notes"
			columns="1">
			</md-input-container>
		</div>
		<div class="form-group">
			<md-button type="submit" class="md-raised md-primary">Create</md-button>
		</div>
	</form>
	<form role="form" ng-submit="vm.update()" ng-switch-when="update" name="updateForm">
		<div class="form-group">
			<h3 style="text-align: center;">Create Delivery</h3>
			<md-input-container flex>
			<label>Stream name</label>
			<input ng-model="vm.stream_name"
			required>
			</md-input-container>

			<md-input-container flex>
			<label>Activity name</label>
			<input ng-model="vm.activity_name"
			required>
			</md-input-container>

			<md-input-container flex>
			<label>View name</label>
			<input ng-model="vm.view_name"
			required>
			</md-input-container>

			<md-input-container flex>
			<label>Codereview Link</label>
			<input ng-model="vm.codereview">
			</md-input-container>

			<md-input-container flex>
			<label>Jira Link</label>
			<input ng-model="vm.jira">
			</md-input-container>

			<md-input-container flex>
			<label>Description</label>
			<input ng-model="vm.description"
			columns="1">
			</md-input-container>

			<md-input-container flex>
			<label>Notes</label>
			<input ng-model="vm.notes"
			columns="1">
			</md-input-container>
		</div>
		<div class="form-group">
			<md-button type="submit" class="md-raised md-primary">Update</md-button>
		</div>
	</form>
</div>