<hr/>
<hr/>
<hr/>
<hr/>

<md-tabs md-border-bottom ng-cloak>
	<md-tab label="Details" layout="column">
		<div layout="row" layout-fill>
			<div flex>
				<h3>Stream Name</h3>
				<md-caption>{{vm.details.stream_name}}</md-caption>
			</div>
			<div flex>
				<h3>Activity Name</h3>
				<md-caption>{{vm.details.activity_name}}</md-caption>
			</div>
			<div flex>
				<h3>View Name</h3>
				<md-caption>{{vm.details.view_name}}</md-caption>
			</div>
		</div>
		<div>
			<h3>Codereview</h3>
			<md-caption><a href={{vm.details.codereview_url}}>{{vm.details.codereview_url}}</a></md-caption>
		</div>
		<div>
			<h3>Jira</h3>
			<md-caption><a href={{vm.details.jira_url}}>{{vm.details.jira_url}}</a></md-caption>
		</div>
		<div>
			<h3>Status</h3>
			<md-caption>{{vm.details.status}}</md-caption>
		</div>
		<div>
			<h3>Locked</h3>
			<md-caption>{{vm.details.locked}}</md-caption>
		</div>
	</md-tab>
	<md-tab label="Codereview" ng-if=vm.showCodereview layout="column">
		<h1 flex style="text-align:center;">{{vm.codereviewDetails.summary}}</h1>
		<hr>
		<p flex>Branch : {{vm.codereviewDetails.branch}}</p>
		<p flex>Testing Done : {{vm.codereviewDetails.testing_done}}</p>
		<p flex>Last Updated : {{vm.codereviewDetails.last_updated | date}}</p>
		<p flex>Created : {{vm.codereviewDetails.time_added | date}}</p>
		<p flex>Description : {{vm.codereviewDetails.description}}</p>
	</md-tab>
	<md-tab label="Jira" ng-if=vm.showJira layout="column">
		<h1 flex style="text-align:center;">{{vm.jiraDetails.Summary}}</h1>
		<hr>
		<p flex>Creator : {{vm.jiraDetails.creator}}</p>
		<p flex>Assignee: {{vm.jiraDetails.Assignee}}</p>
		<p flex>Affects Versions: {{vm.jiraDetails.AffectsVersions}}</p>
		<p flex>Description: {{vm.jiraDetails.Description}}</p>
		<p flex>Fixed In Label: {{vm.jiraDetails.FixedInLabel}}</p>
	</md-tab>
	<md-tab label="Test"layout="column">
	 <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="gray"
        md-rowspan="3" md-colspan="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue"
        md-rowspan="2">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="red"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="green"
        md-rowspan="2" >
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
	</md-tab>
</md-tabs>