<div layout="column">
    <div class="well" style="box-shadow: none;">
        <a href="/{{delivery.author.username}}">
            <span  class="badge label-success shadow-z-3" style="margin: 3px;">
                {{ delivery.author.username }}
            </span>
        </a>
        <a href="javascript:void(0)" ng-show="vm.isAuthenticated" class="btn-xs btn-danger glyphicon glyphicon-remove pull-right shadow-z-3" style="margin: 3px;"
            ng-show="vm.isAuthenticated"
            ng-click="vm.setDetails(delivery)"
            ng-dialog="/static/templates/deliveries/destroy-delivery.html"
            ng-dialog-controller="DeliveryController as vm">
            <md-tooltip>
                Destroy Delivery
            </md-tooltip>
        </a>
        <a href="javascript:void(0)" class="btn-xs btn-info glyphicon glyphicon-pencil pull-right shadow-z-3" style="margin: 3px;"
            ng-show="vm.isAuthenticated"
            ng-click="vm.setDetails(delivery)"
            ng-dialog="/static/templates/deliveries/delivery-action.html"
            ng-dialog-controller="DeliveryController as vm">
            <md-tooltip>
                Update Delivery
            </md-tooltip>        
        </a>
        <div>
            <h4>{{ delivery.activity_name | uppercase }}</h4>
        </div>
        <div layout="row" layout-align="center center">
        <md-button
        ng-click="vm.setDetails(delivery)"
        ng-dialog="/static/templates/deliveries/delivery-details.html"
        ng-dialog-controller="DeliveryDetailsController as vm"
        class="md-primary md-raised" flex='33'>
        Details
        <md-tooltip>
            Delivery Details
        </md-tooltip>
        </md-button>
        <md-button
        ng-click="vm.setDetails(delivery)"
        ng-dialog="/static/templates/deliveries/delivery-details.html"
        ng-dialog-controller="DeliveryDetailsController as vm"
        class="md-primary md-raised" flex='33'>
        Codereview
        <md-tooltip>
            Codereview Details
        </md-tooltip>        
        </md-button>
        <md-button
        ng-click="vm.setDetails(delivery)"
        ng-dialog="/static/templates/deliveries/delivery-details.html"
        ng-dialog-controller="DeliveryDetailsController as vm"
        class="md-primary md-raised" flex='33'>
        Jira
        <md-tooltip>
            Jira Details
        </md-tooltip>
        </md-button>
        </div>
        <hr/>
        <div>
            <small><label for="badge"><span class="badge shadow-z-3">{{delivery.updated_at | date:"MM/dd/yyyy H:mm:ss"}}</span></label></small>
        </div>
    </div>
</div>