<section layout="column">
    <section layout="row">    
        <md-caption id="meta-data" ng-href="/{{delivery.author.username}}" flex offset="10" layout="row">
            <strong ng-if="!vm.isAuthenticated" flex>
            {{delivery.author.first_name}} {{delivery.author.last_name}}
            </strong> 
            <span ng-if="!vm.isAuthenticated" flex="20"></span>
            <span flex>
                {{delivery.updated_at | date:'MM/dd/yyyy @ h:mma'}}
            </span>
        </md-caption> 
    </section>
    <section class="delivery" layout="row" layout-fill>
        <md-button ng-click="vm.setDetails(delivery)"
                    ng-dialog="/static/templates/deliveries/delivery-details.html"
                    ng-dialog-controller="DeliveryDetailsController as vm"
                    class="md-primary md-raised" id="jira-btn" flex>
            <h4 id="jira-id" ng-bind="vm.getJiraId(delivery.jira_url) | uppercase"></h4>
        </md-button>        
        <section ng-if="vm.isAuthenticated">
            <md-button aria-label="update" class="md-fab md-raised md-primary md-mini tool-btn"
                id="tool-btn-update"
                ng-click="vm.setDetails(delivery)"
                ng-dialog="/static/templates/deliveries/delivery-action.html"
                ng-dialog-controller="DeliveryController as vm">
                <md-icon md-svg-src="static/img/icons/create.svg"></md-icon>    
            </md-button>
            <md-button aria-label="destroy" class="md-fab md-raised md-primary md-mini tool-btn"
                id="tool-btn-destroy"
                ng-click="vm.setDetails(delivery)"
                ng-dialog="/static/templates/deliveries/destroy-delivery.html"
                ng-dialog-controller="DeliveryController as vm">
                <md-icon md-svg-src="static/img/icons/clear.svg"></md-icon>
            </md-button>
        </section>
    </section>
</section>